@page "/"

<PageTitle>Front page</PageTitle>

<!-- 
    This is the front page. The page has an h1 that welcomed user to the app. There are also text that explains what the app is for, and which tech it is being build with.
    The page also has a link to the GitHub repository of the app.
    The page also has a link to the Twitch channel of the creator (aka the author of the app).
-->

<h1>Welcome to the Mosaic Web App!</h1>
<p>
    This app allows you to create mosaic images! <br />
    Check out in the sidebar! <br />

    Tech stack: <br />
    The app is built using Blazor, javascript, CSS and C#. <br />
    The app is open source and available on GitHub. <br />
</p>


